@using System.Text.RegularExpressions;
@model string[]
@{
    ViewData["Title"] = "Добавление файла";
}
<div align="center">
    <h4 class="fst-italic">Список изображений,хранящихся на сервере:</h4>
    <ol class="list-unstyled">
        @{
            foreach (var name in Model)
            {

                <li>@Regex.Match(name, @"[^((\/)|(\\))]*$")</li>
            }
        }
    </ol>
</div>
<div align="center">
    <h4 class="fst-italic">Загрузить фото</h4>
    <form asp-action="AddFile" asp-controller="Images" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadedFile" />
        <input type="submit" value="Отправить" />
    </form>
</div>